/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2b2b2b;
  font-family: 'Playfair Display', sans-serif;
}

.logo .highlight {
  color: #a362f5;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-family: 'Poppins', sans-serif;
}

.nav-links ul li a {
  text-decoration: none;
  color: #2b2b2b;
  font-weight: 400;
  transition: color 0.3s;
}

.nav-links ul li a:hover {
  color: #a362f5;
}

/* Menu hamburguer */
.menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #2b2b2b;
}

/* Responsivo */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .nav-links.open {
    max-height: 300px;
  }

  .nav-links ul {
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 1rem;
  }

  .menu-toggle {
    display: block;
  }
}
